<!-- navbar -->
<header class="gl-header">
    <a href="#" ui-sref="glApp.accounts" class="gl-logo">GL</a>
    <ul class="nav">
        <li class="nav-item" ui-sref-active="'active'">
            <a ui-sref="glApp.accounts" class="nav-link" href="#">Accounts AngularJS</a>
        </li>
        <li class="nav-item" ui-sref-active="'active'">
            <a ui-sref="glApp.accounts2" class="nav-link" href="#">Accounts Angular</a>
        </li>
    </ul>
</header>
<!-- / navbar -->
<!-- content -->
<div class="gl-content">
    <div class="gl-content-body" ui-view></div>
</div>
<!-- /content -->
