<section class="container">

    <section class="gl-title-wrap">
        <h3 class="gl-title">Account list AngularJS</h3>
        <button type="button" ng-click="glAccounts.onClickCreateAccount()" class="btn btn-primary">Create account
        </button>
    </section>
    <gl-accounts-dashboard title="Using Angular Components from AngularJS Code"
                            total="{{glAccounts.data.length}}">
    </gl-accounts-dashboard>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Account name</th>
            <th>E-mail</th>
            <th>Status</th>
            <th>Start date</th>
            <th>Expiration date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>
